<nav>

   <input type="checkbox" id="check">
   <label for="check" class="checkbtn">
       <i class="fas fa-bars"></i>
   </label>

   <ul>

       <li><a href="/">INÍCIO</a></li>
       <li> <a href="/cadastro">CADASTRE</a></li>
       <li> <a href="/lista">LISTA</a></li>


   </ul>

</nav>
