<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Blue Séries</title>

</head>

    <body>

        <h2>Faça o login para acessar.</h2>

        <form action="" method="POST">

            <label for="user">E-mail:</label>
            <input type="text" name="login" class="userWrite">

            <label for="password">Password:</label>
            <input type="text" name="password" class="userWrite_password">
            
            <input type="submit" name="acao" class="btn" value="Login">

        </form>
        

    </body>

</html>