<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./components/head') %>
</head>

    <body>

        <%- include('./components/navbar') %>

        <%- include('./components/footer') %>

    </body>
    
</html>